.header_wrapper {
  display: flex;
  align-items: flex-end;
}
.header_wrapper div:nth-child(1) {
  width: 100%;
}
.header_wrapper textarea {
  font-size: 15px;
  min-height: 15px !important;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--divider);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  margin-right: 10px;
}
.add {
  background: var(--bg-secondary);
  border-radius: 10px;
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit {
  position: absolute;
  top: 10px;
  right: 0;
}
.add_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add_col span:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
}
.add_col span:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-secondary);
}
.add_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background: var(--bg-secondary);
  border-radius: 10px;
}
.add_bottom .left {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}
.preview_actions {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}
.preview_actions button {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 8px 12px;
  background: #fff;
  color: var(--color-primary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.images {
  height: auto;
  width: 100%;
}
.images:hover .preview_actions {
  display: flex;
}
.images_wrap {
  height: inherit;
  width: inherit;
  max-height: inherit;
}
.images_wrap img {
  height: inherit;
  width: inherit;
  max-height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.per2 {
  height: 100%;
  display: flex;
  gap: 2px;
}

.per2 img {
  width: 50%;
  height: 230px;
}
.per3 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}

.per3 img {
  width: 100%;
  height: 200px;
}
.per3 img:nth-child(1) {
  grid-column: 1/3;
}

.per4 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}

.per4 img {
  width: 100%;
  height: 200px;
}

.per4 img:nth-child(1) {
  grid-column: 1/4;
}
.per5 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}

.per5 img {
  width: 100%;
  height: 200px;
  grid-column: auto / span 2;
}

.per5 img:nth-child(1),
.per5 img:nth-child(2) {
  grid-column: auto / span 3;
}
