.profile {
  margin-top: 58px;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  justify-items: center;
}
.top {
  background: var(--bg-primary);
  width: 100%;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: column;
}

.header .content,
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.photo_wrap {
  height: 90px;
}
.photo {
  position: relative;
  top: -84px;
}
.add_photo {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.photo img {
  border-radius: 50%;
  width: 168px;
  height: 168px;
  border: 4px solid var(--bg-primary);
}

.name {
  overflow-wrap: break-word;
  text-align: center;
  line-height: 38px;
  width: max-content;
}
.name span {
  font-size: 28px;
  font-weight: 400;
  display: block;
}
.friends {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-secondary);
}
.btns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  white-space: nowrap;
  position: relative;
}
.btns button {
  width: 50%;
  font-size: 14px;
  font-weight: 600;
}
.no_posts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-secondary);
}
.profile_menu_wrap {
  padding: 10px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile_menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile_menu_wrap .more {
  padding: 10px;
}
.profile_menu a {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-secondary);
}
.profile_menu .active {
  color: var(--blue-color);
  border-bottom: 4px solid var(--blue-color);
  margin-bottom: -3px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.bottom .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 6px;
}
.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 0.5rem;
  max-width: 680px;
  width: 100%;
}
.details {
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 680px;
}
.details_con {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: static;
}
.card_header {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.card_header .link {
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 500;
}

.photos .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photos .content .info {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 400;
}

.photo_grid,
.friends_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
.friends_grid {
  grid-gap: 10px;
  border-radius: 0;
}
.photo_card {
  background-size: cover;
  background-position: center;
}
.photo_card:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 100%;
}

.friend_card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
}
.friend_card:hover,
.photo_card:hover,
.photo img:hover {
  filter: brightness(0.9);
}
.friend_card:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 100%;
}
.friend_name {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.friend_name:hover {
  text-decoration: underline;
}
.open_cover_menu {
  position: absolute;
  top: 100%;
  right: auto;
  box-shadow: 0px 0px 20px var(--shadow-2);
  padding: 5px;
  width: 80%;
}
.open_cover_menu:before {
  content: "";
  position: absolute;
  top: 0px;
  margin-top: -23px;
  right: 50%;
  border: solid 12px transparent;
  border-bottom-color: var(--bg-primary);
  z-index: 1;
}

.open_cover_menu .item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}

@media (min-width: 495px) {
  .btns {
    width: 50%;
  }
  .open_cover_menu {
    right: 50%;
  }
  .open_cover_menu:before {
    right: 20px;
  }
}
@media (min-width: 900px) {
  .details_con {
    position: sticky;
  }
  .bottom .wrapper {
    grid-template-columns: 1fr 1.4fr;
  }
  .edit_cover span {
    display: inline;
  }
  .header .content {
    flex-direction: row;
    padding: 10px 16px;
    justify-content: flex-start;
    column-gap: 25px;
    margin-bottom: 20px;
  }
  .btns {
    width: 30%;
    margin-left: auto;
  }
  .info {
    width: 37%;
    align-items: flex-start;
  }
  .photo {
    top: -60px;
  }
  .name span {
    display: inline;
    margin-left: 10px;
  }
  .name {
    text-align: left;
  }
}

:global(.dark) .btns img,
:global(.dark) .open_cover_menu i {
  filter: invert(100%);
}

:global(.dark) .profile_menu_wrap .more svg {
  fill: #fff;
}

.sk1 {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
