.main {
  height: calc(100vh - 56px);
  width: 100%;
  margin-top: 56px;
  color: var(--color-primary);
  display: grid;
  grid-template-columns: 22% auto;
}
.left {
  background: var(--bg-primary);
  box-shadow: 0 12px 12px var(--shadow-1);
  padding: 10px;
  position: fixed;
  width: 22%;
  height: 100%;
  left: 0;
}

.right {
  background: var(--bg-secondary);
  padding: 1.2rem;
  top: 56px;
  left: 360px;
  right: 0;
  width: 100%;
  min-height: calc(100vh - 56px);
}
.left .header,
.friends_left_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left .header h3,
.friends_left_header h3 {
  font-size: 21px;
}

.left .menu_item {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  padding: 7px;
  position: relative;
}
.rArrow {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.active_friends {
  background: var(--bg-secondary);
}
.active_friends .rArrow {
  display: none;
}
.active_friends > div {
  background: #1876f2;
}
.active_friends i {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.req_card {
  background: var(--bg-primary);
  box-shadow: 1px 1px 1px var(--shadow-1);
  width: 210px;
  height: fit-content;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 6px;
}

.req_card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.req_card button {
  width: 170px !important;
}
.friends_right_wrap {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-third);
}

.friends_right_wrap .flex_wrap {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.see_link {
  color: var(--blue-color);
  padding: 5px;
  cursor: pointer;
}
.flex_wrap {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.photo {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.req_name {
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(18, 106, 170, 0.7598389697675946) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  margin-top: 4px;
}
.btns button {
  width: 100% !important;
  font-weight: 500;
  font-size: 15px;
}

@media (max-width: 870px) {
  .left {
    width: auto;
  }
  .rArrow,
  .menu_item span,
  .header h3 {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .main {
    grid-template-columns: auto;
    padding-left: 70px;
  }
}
