.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--bg-secondary);
  padding: 70px 6px;
}
.container {
  width: 100%;
  max-width: 590px;
}
