.header {
  border-bottom: 1px solid var(--bg-third);
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 10px;
}
.wrap {
  width: 100%;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.content form {
  width: 100%;
}
.text {
  font-size: 17px;
  padding: 15px;
}
.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.input {
  width: 320px;
  max-width: 80%;
}
.btns {
  align-self: flex-end;
  border-top: 1px solid var(--bg-third);
  display: flex;
  gap: 10px;
  margin-top: 5px;
  padding: 15px;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}
.btns button,
.btns a {
  width: auto;
  font-weight: 500;
  font-size: 17px;
}
.error {
  background-color: #ffebe8;
  border: 1px solid #dd3c10;
  border-radius: 5px;
  padding: 12px;
  margin: 0 15px;
}
.error_header {
  font-family: inherit;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 4px;
  font-weight: 600;
}
.error span {
  font-size: 13px;
  line-height: 16px;
}

/* Send Email */

.s_content {
  display: flex;
}
.s_left {
  width: 60%;
  gap: 2rem;
}
.s_left label input {
  width: 20px;
}
.s_left label {
  display: flex;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.s_right {
  width: 40%;
  align-items: center;
  justify-content: center;
}
.s_right img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.s_right,
.s_left {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.s_left_text {
  padding: 10px;
}
.label_col {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.label_col span:nth-child(2),
.s_right span:nth-child(3) {
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: var(--color-secondary);
}

/* Verify code */

.code_form {
  display: flex;
  padding: 15px;
  gap: 20px;
  align-items: center;
}

@media (max-width: 550px) {
  .input {
    max-width: 90%;
  }
  .s_content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .s_right,
  .s_left {
    width: 100%;
  }
  .s_left {
    gap: 5px;
  }
  .code_form {
    flex-direction: column-reverse;
  }
}

:global(.dark) .error {
  background-color: #635654;
}
