.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 97%;
  max-width: 500px;
  padding: 0 !important;
  margin: 0 6px;
  box-shadow: 0 6px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset) !important;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid var(--divider);
  position: relative;
}
.header span {
  font-size: 18px;
  font-weight: 700;
}
.exit {
  position: absolute;
  right: 5px;
}
.content {
  padding: 15px;
}
/***************************/
.input_wrap {
  width: 100%;
  position: relative;
}
.input_wrap input {
  background: var(--bg-primary);
  border: 1px solid var(--bg-third);
  border-radius: 10px;
  color: var(--color-primary);
  font-size: 17px;
  height: 50px;
  margin-bottom: 10px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}
.error {
  border-color: #b94a48 !important;
}
.input_wrap i {
  position: absolute;
  right: 5px;
  top: 15px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.label {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-secondary);
  margin: 4px 0;
}
/****************************/

.members {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0;
  gap: 8px;
  max-height: 250px;
  overflow: auto;
}

.member {
  background: var(--blue-color);
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  margin-left: 15px;
  padding-left: 20px;
}
.member img {
  position: absolute;
  left: -15px;
  width: 32px;
  border-radius: 100%;
  border: 4px solid var(--blue-color);
}
