.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  z-index: 9;
  background: var(--bg-primary);
  width: 100%;
  box-shadow: 0 2px 4px var(--shadow-1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-primary);
}

:global(.dark) .right svg,
:global(.dark) .left svg {
  fill: #fff;
}

:global(.dark) .middle svg {
  fill: rgb(174, 174, 174);
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 1rem;
}
.middle {
  display: flex;
  align-items: center;
  gap: 14px;
  transform: translateX(3px);
}
.middle_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(-2px);
}

.middle_icon:nth-child(2) {
  transform: translateX(-4px);
}

.middle_icon:nth-child(3) {
  transform: translateX(-3px);
}

.middle_icon:nth-child(4) {
  transform: translateX(-5px);
}

.middle_icon:nth-child(5) {
  transform: translateX(-5px);
}
.right {
  display: flex;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--bg-forth);
  padding: 10px 20px 10px 13px;
  border-radius: 50px;
  cursor: text;
  min-width: 233px;
}
.input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 15px;
  font-family: inherit;
  padding-left: 2px;
}
.active {
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0;
  height: 56px;
  transform: translateX(0);
}

.active svg {
  transform: translateY(1px) translateX(-1px);
}
.active_icon {
  display: none;
}
.active .active_icon {
  display: block;
}
.active .icon {
  display: none;
}
.profile_active {
  color: var(--blue-color);
  background: var(--light-blue-color);
}

.notification {
  position: absolute;
  top: 3px;
  right: 2.4rem;
  background: #e41e3f;
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 13px;
  color: #fff;
}

.profile {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 3px 10px 3px 6px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
}
.profile img {
  width: 28.7px;
  height: 28.7px;
  border-radius: 50%;
  transform: translateX(-1px);
}

.profile span {
  margin-bottom: 3px;
}

.circle_icon {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background: var(--bg-third);
  cursor: pointer;
}

.active_header {
  background: var(--light-blue-color);
}

.active_header svg {
  fill: var(--blue-color);
}

.active_link {
  background: var(--light-blue-color);
  color: var(--blue-color);
}

@media (max-width: 1100px) {
  .search {
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
    min-width: auto;
  }

  .search input {
    display: none;
  }

  .middle {
    transform: translateX(-15%);
  }
}
@media (max-width: 960px) {
  .middle {
    transform: translateX(-22%);
  }
  .middle_icon:nth-child(5) {
    display: none;
  }
}

@media (max-width: 860px) {
  .middle {
    transform: translateX(-37%);
  }

  .middle_icon:nth-child(4) {
    display: none;
  }
}
@media (max-width: 760px) {
  .middle_icon:nth-child(3) {
    display: none;
  }
}

@media (max-width: 620px) {
  .profile {
    display: none;
  }
}

@media (max-width: 550px) {
  .middle_icon:nth-child(1) {
    display: none;
  }

  .middle {
    transform: translateX(-20%);
  }
}
