.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-secondary);
  padding: 5px;
  border-radius: 50px;
  gap: 14px;
}
.react {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  transform: scale(0.98);
  transition: transform 0.2s;
}

.react:hover {
  transform: scale(1.2) translateY(-12px);
}
.react img {
  width: 42px;
  height: 42px;
  cursor: pointer;

  transform: scale(1.2);
}
