.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-primary);
  padding: 5px;
  border-radius: 50px;
  gap: 5px;
}
.react {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
}
.react img:hover {
  transform: scale(1.2);
}
.react img {
  width: 42px;
  height: 42px;
  cursor: pointer;

  transform: scale(1.09);
}
